$darkGrayLight: hsl(0, 0%, 48%, 0.1);
$darkGray: hsl(0, 0%, 48%);
$moderateCyan: hsl(176, 50%, 47%);
$darkCyan: hsl(176, 72%, 28%);

body {
  height: 3600px;
  background-color: $darkGrayLight;
  @include media-breakpoint-up(lg){
    height: 2500px;
  }
}

// .bookmark {
//   background-color: $darkGrayLight;
// }

.card-bookmark {
  padding: auto;
  margin: auto;
  margin-top: 5%;
  width: 26rem;
  height: 500px;
  border-radius: 20px;
  @include media-breakpoint-up(lg){
    width: 44rem;
    height: 300px;
    margin-top: 2%;
  }
 hr {
  border-bottom: 1px solid $darkGrayLight;
  width: 30%;
  padding: auto;
  margin: auto;
  @include media-breakpoint-up(lg){
    display: none;
    
  }
}
}

.divider {
  display: none;
  @include media-breakpoint-up(lg) {
    display: inline-block;
    width: 0;
    height: 4em;
    border-right: 1px solid $darkGrayLight !important;
    margin-top: 10%;
  }
}

.mainBorder {
  @include media-breakpoint-up(lg) {
    border-right: 1px solid $darkGrayLight;
    line-height: 5px;
  }
}


.progress-bar {
  background-color: $moderateCyan;
  border-radius: 30px;
}

.progress {
  width: 80%;
  border-radius: 30px;
  margin: auto;
  padding: auto;
  @include media-breakpoint-up(lg){
    margin: 5%;
    padding: 0;
  }
}


.card-bookmark-first {
  @include media-breakpoint-up(lg){
 // margin-top: -24px;
  margin-left: 5%;
  }
}

.card-about {
  padding: auto;
  margin: auto;
  margin-top: 5%;
  width: 26rem;
  border-radius: 10px;
  @include media-breakpoint-up(lg){
    width: 44rem;
    margin-top: 2%;
  }
}

.card-about-bamboo {
  padding: auto; 
  margin: auto;
  width: 22rem;
  border-radius: 10px;
  @include media-breakpoint-up(lg){
    width: 39rem;
    height: 270px;
  }
}

.btn-select {
  border-radius: 30px;
  background-color: $moderateCyan;
  height: 60px;
  width: 250px;
  font-weight: 500;
  border: $moderateCyan;
  margin-left: 10%;
  margin-bottom: 10%;
  margin-top: 5%;
  @include media-breakpoint-up(lg){
    width: 170px;
    height: 50px;
    font-size: 16px;
  }
  &:hover, &:visited, &:focus  {
    background-color: $darkCyan !important; 
    border-color: $darkCyan !important;
  }
}

.card-about-black {
  padding: auto;
  margin: auto;
  margin-top: 10%;
  width: 22rem;
  @include media-breakpoint-up(lg){
      width: 39rem;
      height: 270px;
  }
}

.card-about-mahogany {
  padding: auto;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 20%;
  width: 22rem;
  @include media-breakpoint-up(lg){
    width: 39rem;
    height: 270px;
}
}

.card-zero {
  opacity: .4;
}

.card-back {
  margin-left: 5%;
  width: 23rem;
  @include media-breakpoint-up(lg){
    width: 42rem;
    margin-left: 3%;
  }
} 

.number-mobile {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.number-desktop {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.modal-dialog {
  @include media-breakpoint-up(lg) {
    max-width: 46rem;
  }
}

.modal-title {
  margin-left: 5%;
}

.modal-text {
  margin-left: 5%;
}

.card-back-text {
  //margin-left: 5%;
  margin-top: 10%;
  color: $darkGray;
  @include media-breakpoint-up(lg){
    margin-top: 5%;
  }
}

.card-back-body {
  margin: 10%;
  border-radius: 10px;
  @include media-breakpoint-up(lg){
    margin: 3%;
  }
}

.card-bamboo-body, .card-black-body, .card-mahogany-body {
  margin: 10%;
  @include media-breakpoint-up(lg){
    margin: 3%;
  }
}

.card-bamboo, .card-black, .card-mahogany {
  margin-left: 5%;
  margin-top: 10%;
  border-radius: 10px;
  width: 23rem;
  @include media-breakpoint-up(lg){
    width: 42rem;
    margin-left: 3%;
  }
}

.amountInput {
  border-radius: 40px;
  caret-color: $moderateCyan;
  font-weight: 700;
  &:hover {
    border-color: $moderateCyan;
  }
}

.card-pledge {
  display: none;
  @include media-breakpoint-up(lg){
    display: block !important;
  }
}

.btn-continue {
  border-radius: 30px;
  background-color: $moderateCyan;
  border: $moderateCyan;
  width: 100%;
  &:hover, &:visited, &:focus  {
    background-color: $darkCyan;
    border-color: $darkCyan;
  }
} 
.clicked {
  border: 4px solid $moderateCyan;
}

.btn-about-mahagany:disabled {
  background-color: $darkGray;
}

.btn-got {
background-color: $moderateCyan;
border: $moderateCyan;
border-radius: 30px;
margin: 5%;
width: 150px;
height: 60px;
&:hover, &:visited, &:focus  {
  background-color: $darkCyan;
}
}

.imgCheck {
  margin: 10%;
  width: 20%;
}

.thankyou-dialog {
  @include media-breakpoint-up(lg) {
  width: 28rem;
  }
}